.page-body .page-header.navbar .menu-toggler.sidebar-toggler,
.page-body .page-header.navbar .menu-toggler.responsive-toggler{
	height: 14px;
}
.page-body .page-header.navbar .menu-toggler>span{
	top: 9px;
}
.questions-selecteds h4{
	font-weight: 500;
}
.portlet.light>.portlet-title>.caption>small{
    color: #36c6d3;
    padding-left: 17px;
}