.page-body .page-header.navbar .menu-toggler.sidebar-toggler,
.page-body .page-header.navbar .menu-toggler.responsive-toggler{
	height: 14px;
}
.page-body .page-header.navbar .menu-toggler>span{
	top: 9px;
}
.questions-selecteds h4{
	font-weight: 500;
}
.portlet.light>.portlet-title>.caption>small{
    color: #36c6d3;
    padding-left: 17px;
}
.page-body.page-proyecteds .page-header,
.page-body.page-proyecteds .page-sidebar-wrapper{
	display: none !important;
}
.page-body.page-proyecteds .page-container,
.page-body.page-proyecteds .page-content{
	margin: 0 !important;
	padding: 0;
}
.carousel.slide#carousel-proyecteds,
.carousel.slide#carousel-proyecteds .carousel-inner,
.carousel.slide#carousel-proyecteds .item{
	height: 100% !important;
	background: #999;
}
.carousel.slide#carousel-proyecteds .item{
	background: #999;
}
.carousel.slide#carousel-proyecteds .carousel-caption{
	bottom: auto;
    top: 50%;
    padding: 0;
    height: 320px;
    margin-top: -160px;
}
.carousel.slide#carousel-proyecteds .carousel-caption > div.table{
	margin: 0;
    height: 100%;
    display: table;
}
.carousel.slide#carousel-proyecteds .carousel-caption > div.table > div{
	display: table-cell;
    vertical-align: middle;
}
.carousel.slide#carousel-proyecteds h1{
	position: absolute;
    top: 50px;
    z-index: 999;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}