<div class="row">
    <div class="col-md-12">
        <div class="note note-info">
            <p> NOTE: The below datatable is not connected to a real database so the filter and sorting is just simulated for demo purposes only. </p>
        </div>
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
        	<div class="portlet-title">
        		<div class="caption">
                    <i class="fa fa-question-circle"></i> Questions
                </div>
        	</div>
        </div>
    </div>
</div>