<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);">Sesiones</a>
        </li>
    </ul>
</div>
<h3 class="page-title"> Sesiones </h3>
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-body">
            	<div class="table-container posRel">
            		<div class="table-toolbar questions-toolbar">
                    	<div class="row">
	                        <div class="col-md-12">
	                        	<button id="add-session" (click)="addSession()" class="btn sbold green">
	                        		Agregar <i class="fa fa-plus"></i>
                            	</button>
	                        </div>
	                    </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="datatable_sessions">
                        <thead>
                            <tr role="row" class="heading">
                                <th width="20%"> Título </th>
                                <th width="25%"> Descripción </th>
                                <th width="15%"> Exponente </th>
                                <th width="15%"> Inicio </th>
                                <th width="15%"> Fin </th>
                                <th width="10%">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let session of sessions | async">
                                <td>{{ session.title | slice:0:50 }} <span *ngIf="session.title.length > 50">...</span></td>
                                <td>{{ session.description | slice:0:60 }} <span *ngIf="session.description.length > 60">...</span></td>
                                <td *ngFor="let speaker of session.speakers | objToArr">
                                	{{ speaker.name }}
                                </td>
                                <td>{{ session.startTime | date:"dd MMM y - H:mm" }}</td>
                                <td>{{ session.endTime | date:"dd MMM y - H:mm" }}</td>
                                <td>
                                    <a href="javascript:;" (click)="editSession(session)" class="btn btn-circle btn-icon-only btn-default"><i class="fa fa-edit"></i></a>
                                    <a href="javascript:;" (click)="viewSession(session)" class="btn btn-circle btn-icon-only btn-default"><i class="fa fa-eye"></i></a>
                                    <a href="javascript:;" (click)="deleteSession(session)" class="btn btn-circle btn-icon-only btn-default"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>